<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% trans %}app.title{% endtrans %}</title>
    <meta name="description" content="Eduteca">
    <meta name="author" content="Eduteca">
  </head>
  <body>
  </body>
</html>



